#register .container{
    margin-top: 120px;
    width: 600px;
    height: 400px;
    border: 1px solid #9c9c9c;
}

#register .container #register-row #register-column #register-box #register-form{
    padding: 20px;
}

#register .container #register-row #register-column #register-box #register-form #register-link{
    margin-top: -85px;
}