{% extends '_base.html' %}
{% block body %}
<nav class="fast-nav navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand text-danger col-sm-8" href="{% url 'content_home' %}"><b>DDongstagram</b></a>
    <div id='menu' style="float: right; width: 260px;">
        <ul style="list-style-type: none;">
            <li style="float: left; margin: 10px;">{{ request.user }}<li>
            <li style="float: left; margin: 10px;"> 
                <a class="nav-item nav-link" style="color: black;"href="{% url 'apis_v1_user_logout' %}" id="logout">로그아웃</a>
            </li>
        </ul>
    </div> 
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('#logout').click(function(){
            $.get('/apis/v1/users/logout', {}, function(){
                window.location ="{% url 'login' %}";
            })
        });
    });
</script>
{% endblock %}