{% extends '_base.html' %}
{% load static %}
{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
<div id="login">
    <div class="container">
        <br>
        <h3 class="text-center text-danger">Login</h3><br>
        <div class="form-group col-md-12">
            <label for="username" class="text-danger">Username</label><br>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label for="password" class="text-danger">password</label><br>
            <input type="password" name="password" id="password" class="form-control">
        </div><br>
        <div class="form-group col-md-12">
            <div class="row">
                <input type="submit" id="login_button" class="form-control btn btn-danger" value="submit">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <a href="{% url 'apis_v1_user_create' %} " style="border: 1px solid #CC3333;" class="form-control btn btn-outline-danger">Register here</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#login_button').click(function(){
            $.post('/apis/v1/users/login/', {'username':$('#username').val(), 'password':$('#password').val()}, function(){
                window.location = "{% url 'content_home' %}";
            }).fail(function(data) {
                alert(data.responseJSON.message);
            });
        });
    });
</script>
<!-- <script>
    $(document).ready(function () {
        $('#logout-submit').click(function(){
            $.get('/apis/v1/users/logout', {}, function(){
                location.reload();
            })
        });
    });
</script> -->
{% endblock %}
